.my-h-5 {
  min-height: 5vh;
}

.my-h-10 {
  min-height: 10vh;
}

.my-h-15 {
  min-height: 15vh;
}

.my-h-20 {
  min-height: 20vh;
}

.my-h-25 {
  min-height: 25vh;
}

.my-h-30 {
  min-height: 30vh;
}

.my-h-35 {
  min-height: 35vh;
}

.my-h-40 {
  min-height: 40vh;
}

.my-h-45 {
  min-height: 45vh;
}

.my-h-50 {
  min-height: 50vh;
}

.my-h-55 {
  min-height: 55vh;
}

.my-h-60 {
  min-height: 60vh;
}

.my-h-65 {
  min-height: 65vh;
}

.my-h-70 {
  min-height: 70vh;
}

.my-h-75 {
  min-height: 75vh;
}

.my-h-80 {
  min-height: 80vh;
}

.my-h-85 {
  min-height: 85vh;
}

.my-h-90 {
  min-height: 90vh;
}

.my-h-95 {
  min-height: 95vh;
}

.my-h-100 {
  min-height: 100vh;
}

.my-pt-1 {
  padding-top: 0.25rem;
}

.my-pt-1\.5 {
  padding-top: 0.375rem;
}

.my-pt-2 {
  padding-top: 0.5rem;
}

.my-pt-2\.5 {
  padding-top: 0.625rem;
}

.my-pt-3 {
  padding-top: 0.75rem;
}

.my-pt-3\.5 {
  padding-top: 0.875rem;
}

.my-pt-4 {
  padding-top: 1rem;
}

.my-pt-5 {
  padding-top: 1.25rem;
}

.my-pt-6 {
  padding-top: 1.5rem;
}

.my-pt-7 {
  padding-top: 1.75rem;
}

.my-pt-8 {
  padding-top: 2rem;
}

.my-pt-9 {
  padding-top: 2.25rem;
}

.my-pt-10 {
  padding-top: 2.5rem;
}

.my-pt-11 {
  padding-top: 2.75rem;
}

.my-pt-12 {
  padding-top: 3rem;
}

.my-pt-14 {
  padding-top: 3.5rem;
}

.my-pt-16 {
  padding-top: 4rem;
}

.my-pt-20 {
  padding-top: 5rem;
}

.my-pt-24 {
  padding-top: 6rem;
}

.my-pt-28 {
  padding-top: 7rem;
}

.my-pt-32 {
  padding-top: 8rem;
}

.my-pt-36 {
  padding-top: 9rem;
}

.my-pt-40 {
  padding-top: 10rem;
}

.my-pt-44 {
  padding-top: 11rem;
}

.my-pt-48 {
  padding-top: 12rem;
}

.my-pt-52 {
  padding-top: 13rem;
}

.my-pt-56 {
  padding-top: 14rem;
}

.my-pt-60 {
  padding-top: 15rem;
}

.my-pt-64 {
  padding-top: 16rem;
}

.my-pt-72 {
  padding-top: 18rem;
}

.my-pt-80 {
  padding-top: 20rem;
}

.my-pt-96 {
  padding-top: 24rem;
}

.my-pl-1 {
  padding-left: 0.25rem;
}

.my-pl-1\.5 {
  padding-left: 0.375rem;
}

.my-pl-2 {
  padding-left: 0.5rem;
}

.my-pl-2\.5 {
  padding-left: 0.625rem;
}

.my-pl-3 {
  padding-left: 0.75rem;
}

.my-pl-3\.5 {
  padding-left: 0.875rem;
}

.my-pl-4 {
  padding-left: 1rem;
}

.my-pl-5 {
  padding-left: 1.25rem;
}

.my-pl-6 {
  padding-left: 1.5rem;
}

.my-pl-7 {
  padding-left: 1.75rem;
}

.my-pl-8 {
  padding-left: 2rem;
}

.my-pl-9 {
  padding-left: 2.25rem;
}

.my-pl-10 {
  padding-left: 2.5rem;
}

.my-pl-11 {
  padding-left: 2.75rem;
}

.my-pl-12 {
  padding-left: 3rem;
}

.my-pl-14 {
  padding-left: 3.5rem;
}

.my-pl-16 {
  padding-left: 4rem;
}

.my-pl-20 {
  padding-left: 5rem;
}

.my-pl-24 {
  padding-left: 6rem;
}

.my-pl-28 {
  padding-left: 7rem;
}

.my-pl-32 {
  padding-left: 8rem;
}

.my-pl-36 {
  padding-left: 9rem;
}

.my-pl-40 {
  padding-left: 10rem;
}

.my-pl-44 {
  padding-left: 11rem;
}

.my-pl-48 {
  padding-left: 12rem;
}

.my-pl-52 {
  padding-left: 13rem;
}

.my-pl-56 {
  padding-left: 14rem;
}

.my-pl-60 {
  padding-left: 15rem;
}

.my-pl-64 {
  padding-left: 16rem;
}

.my-pl-72 {
  padding-left: 18rem;
}

.my-pl-80 {
  padding-left: 20rem;
}

.my-pl-96 {
  padding-left: 24rem;
}

.my-pr-1 {
  padding-right: 0.25rem;
}

.my-pr-1\.5 {
  padding-right: 0.375rem;
}

.my-pr-2 {
  padding-right: 0.5rem;
}

.my-pr-2\.5 {
  padding-right: 0.625rem;
}

.my-pr-3 {
  padding-right: 0.75rem;
}

.my-pr-3\.5 {
  padding-right: 0.875rem;
}

.my-pr-4 {
  padding-right: 1rem;
}

.my-pr-5 {
  padding-right: 1.25rem;
}

.my-pr-6 {
  padding-right: 1.5rem;
}

.my-pr-7 {
  padding-right: 1.75rem;
}

.my-pr-8 {
  padding-right: 2rem;
}

.my-pr-9 {
  padding-right: 2.25rem;
}

.my-pr-10 {
  padding-right: 2.5rem;
}

.my-pr-11 {
  padding-right: 2.75rem;
}

.my-pr-12 {
  padding-right: 3rem;
}

.my-pr-14 {
  padding-right: 3.5rem;
}

.my-pr-16 {
  padding-right: 4rem;
}

.my-pr-20 {
  padding-right: 5rem;
}

.my-pr-24 {
  padding-right: 6rem;
}

.my-pr-28 {
  padding-right: 7rem;
}

.my-pr-32 {
  padding-right: 8rem;
}

.my-pr-36 {
  padding-right: 9rem;
}

.my-pr-40 {
  padding-right: 10rem;
}

.my-pr-44 {
  padding-right: 11rem;
}

.my-pr-48 {
  padding-right: 12rem;
}

.my-pr-52 {
  padding-right: 13rem;
}

.my-pr-56 {
  padding-right: 14rem;
}

.my-pr-60 {
  padding-right: 15rem;
}

.my-pr-64 {
  padding-right: 16rem;
}

.my-pr-72 {
  padding-right: 18rem;
}

.my-pr-80 {
  padding-right: 20rem;
}

.my-pr-96 {
  padding-right: 24rem;
}
