.stock-list-container {
  width: 450px;
  height: 450px;
  /* overflow: auto; */
}

.portfolio-chart-container {
  height: 450px;
}

.scroll-wrapper-box {
  scroll-behavior: smooth;
}
.scroll-wrapper-box::-webkit-scrollbar {
  width: 10px;
}
.scroll-wrapper-box::-webkit-scrollbar-track {
  background-color: transparent;
  cursor: pointer;
}
.scroll-wrapper-box::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-clip: content-box;
  background-color: lightgray;
  /* outline: 1px solid black; */
}
