.tab-box {
  position: relative;
  display: flex;
}

.tab-item {
  position: relative;
  padding: 0 20px;
}

.tab-box .marker {
  position: absolute;
  left: 0;
  width: 0;
  height: 4px;
  bottom: -4px;
  transition: 0.5s;
  border-radius: 4px;
  background: #ffc42a;
}
