.switcher {
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 8px;
  color: #2196f3;
}

.switcher-item {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  padding: 6px 8px;
  font-size: 14px;
  color: #262b3e;
  background-color: transparent;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.switcher-item:hover {
  background-color: #fefce8;
}

.switcher-active-item {
  text-decoration: none;
  cursor: default;
  color: #ffc42a;
}

.switcher-active-item,
.switcher-active-item:hover {
  background-color: #fff5df;
}

.portfolio-chart-container {
  min-width: 400px;
  height: 450px;
}

.profit-chart-container {
  max-width: 800px;
}
