.three-line-legend {
  display: block;
  left: 3px;
  right: 3px;
  width: 150px;
  /* height: 70px; */
  position: absolute;
  padding: 8px;
  font-size: 12px;
  /* color: #d1d4dc; */
  /* background-color: rgba(255, 255, 255, 0.23); */
  text-align: left;
  z-index: 1000;
  pointer-events: none;
}
.legend-title {
  font-size: 24px;
  margin: 4px 0px;
  /* color: #d1d4dc; */
}

.legend-content {
  font-size: 15px;
  margin: 4px 0px;
  /* color: #d1d4dc; */
}
