.link-text {
  display: none;
  margin-left: 0.5rem;
  color: #18216d;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  transition: width 200ms ease;
  z-index: 40;
}

.logo {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.3ch;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  transition: all 200ms ease;
  padding-left: 1.5rem;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform 500ms ease;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: block;
  white-space: nowrap;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  transition: all 200ms ease;
  padding-left: 1.5rem;
}

.nav-link svg {
  min-width: 2rem;
}
